/* Common Styles  */
:root {
--primary-color: #527aaf;
--secondary-color: #d4a219;
--teritarty-color: #634b4b;
--hover-cover: #55bd00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Helvetica, Arial, sans-serif;
}

 /* <header> Styles */
 header {
    background-color: var(--teritarty-color);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: static;
    top: 0px;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    color: var(--teritarty-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(212, 162, 25, 1);
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
}

header nav ul {
    margin: 7px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 20px 0 0 0;
}

header nav ul li a {
    color: var(--secondary-color);
    padding: 10px 40px;
    font-weight: bold;
    font-size: 1.75vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--teritarty-color), rgba(0, 0, 0, 0.5);
    color: var(--hover-cover);
    border-radius: 15px;
    text-shadow: none;
}

/* <footer> Styles */
footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--teritarty-color);
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

body {
    background-color: var(--primary-color);
}


/* Hero Styles */

.hero {
    background-size: cover;
    background-position: center;
    height: 960px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    background-image: url("../images/mitchell-frey-sydney-profile-photo.jpg");
    margin-bottom: 50px;
}

.hero img {
    opacity: 0;
    max-width: 1%;
    max-height: 1%;
}

.hero-text {
    text-align: center;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(99, 75, 75, 0.5);
    border-radius: 15px;
}

.hero-text p {
    font-style: italic;
    font-size: 40px;
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Sections Styles */
.section {
    margin: auto;
    display: flex;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    border-right: solid;
    padding: 0 5px 0 50px;
    font-size: 25px;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
}