/* Common Styles  */
:root {
--primary-color: #527aaf;
--secondary-color: #d4a219;
--teritarty-color: #634b4b;
--hover-color: #55bd00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--primary-color);
}

 /* <header> Styles */
 header {
    background-color: var(--teritarty-color);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: static;
    top: 0px;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    color: var(--teritarty-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(212, 162, 25, 1);
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
}

header nav ul {
    margin: 7px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 20px 0 0 0;
}

header nav ul li a {
    color: var(--secondary-color);
    padding: 10px 40px;
    font-weight: bold;
    font-size: 1.75vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--teritarty-color), rgba(0, 0, 0, 0.5);
    color: var(--hover-color);
    border-radius: 15px;
    text-shadow: none;
}

/* <footer> Styles */
footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--teritarty-color);
    font-size: 30px;
    margin: 0;
}
footer h2:hover {
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(212, 162, 25, 0.5);
}
footer div {
    line-height: 1.5;
    text-align: right;
}

/* Hero Styles */

.hero {
    background-size: cover;
    background-position: center;
    height: 960px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    background-image: url("../images/mitchell-frey-sydney-profile-photo.jpg");
    margin-bottom: 50px;
}

/* The photo with alt tag (same as in the hero selector) is hidden and shrunk */
.hero img {
    opacity: 0;
    max-width: 1%;
    max-height: 1%;
}

.hero-text {
    text-align: center;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(99, 75, 75, 0.5);
    border-radius: 15px;
}

.hero-text p {
    font-style: italic;
    font-size: 40px;
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.section-title {
    font-size: 30px;
    align-self: stretch;
    align-items: flex-end;
    text-align: right;
    border-right: solid;
    padding-right: 10px;
}

/* About Me Styles */
.about-text {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
    margin: 0 5px;
    background-color: var(--teritarty-color);
    border-radius: 15px;
    line-height: 1.5;
}

.section-about {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-about .section-title {
    width: 40%;
}

/* Work Styles */

.section-work {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.work-content {
    height: auto;
    width: 50%;
    padding: 10px 10px;
}

.work-content img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.work-content img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: .5s ease;
}

.work-row {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 10px;
}

.work-text {
    text-align: center;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(99, 75, 75, 0.5);
    border-radius: 15px;
    color: var(--secondary-color);
    width: 50%;
}